<button
    type="button"
    (click)="isFormDisplayed = true"
>
    Create new character
</button>

<app-create-character
    [races$]="races$"
    [skills$]="skills$"
    (createCharacter)="onCreateCharacter($event)"
    (cancel)="isFormDisplayed = false"
    *ngIf="isFormDisplayed"
></app-create-character>

<app-character-datatable
    [characters$]="characters$"
    (remove)="onRemove($event)"
>
</app-character-datatable>

<app-character
    *ngIf="isCharacterDisplayed"
    [character]="character$ | async"
></app-character>
