<button
    type="button"
    (click)="isFormDisplayed = true"
>
    Create new character
</button>

<app-create-character
    *ngIf="isFormDisplayed"
    [races$]="races$"
    [skills$]="skills$"
    (createCharacter)="onCreateCharacter($event)"
    (cancel)="isFormDisplayed = false"
></app-create-character>

<app-character-datatable
    [characters$]="characters$"
    (remove)="Character.removeCharacter($event);"
    (displayDetail)="character$.next($event)"
></app-character-datatable>

<app-character
    *ngIf="character$ | async as character"
    [character]="character"
    (exit)="character$.next(null)"
></app-character>
